.mvn/wrapper/maven-wrapper.jar
/target/
.idea/
.vscode/
.project
.classpath
.settings/
*.log
*.class
*.jar
*.war
*.zip
*.tar.gz
/build/
/out/
/bin/
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
.env
/src/main/resources/static/
/src/main/resources/public/
/src/main/resources/templates/
# Specific to Spring Boot
### STS ###
.apt_generated
.apt_generated_test
.factorypath
.springBeans
.sts4-cache
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.project
.classpath
.settings/
# macOS
.DS_Store
# Windows
Thumbs.db
ehcache.xml
/src/main/resources/application.properties.orig